<style>
    .centered {

        font-size: 3vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translateY(-50%);
        z-index: 999;
        margin: 0 auto;
        text-align: center;
        width: 60%;
        /* Set the width of the positioned div */
    }

    .qr-position {

        position: absolute;
        top: 13%;
        left: 76%;
        float: right;

        /* Set the width of the positioned div */
    }

   
    .vertical-center {
        bottom: -50;
        position: relative;
        text-align: center;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .box {
        position: relative;
        display: inline-block;
        /* Make the width of box same as image */
    }
</style>

<div id="cert" class="box">

    <div class="">
        <img src="/assets/img/CertVS.png" alt="Snow" style="width:100%;" />

        <div class="qr-position"><img width="150px" src="/assets/img/qr.png" /></div>
        <div class="centered">{{name}}</div>

    </div>
</div>


<div class="vertical-center">
    <button type="submit" class="btn btn-rose" style="text-align: center;" onclick="download()">Download</button>
</div>

<script>
    window.html2canvas = html2canvas;
    window.jsPDF = window.jspdf.jsPDF;
    function download() {
        html2canvas(document.getElementById("cert")).then(function (canvas) {
            let imgdata = canvas.toDataURL("image/png");
            let doc = new jsPDF('l', 'mm', 'a3');
            doc.addImage(imgdata, "PNG", 0, 0, 425, 300);
            doc.save("sample.pdf");
        });
    }
</script>