<section id="gigs" class="container">
  <h1 style="text-align: center;">All Gigs</h1>

  {{#each gigs}}
  <form action="/gigs/deletegig/{{this.dataValues.id}}" method="POST">
 
    <div id="heading" class="gig">
      <h3>{{this.dataValues.title}}<a href="/gigs/gigsedit/{{this.dataValues.id}}" <i class='fas fa-pencil-alt'
          style='font-size:20px;float:right'>edit</i></a><br><br>
     <button>DELETE</button>
      </h3>
      <p>{{this.dataValues.description}}</p>
      <ul>
        <li>Budget: {{this.dataValues.budget}}</li>
        <li><a href="mailto:{{this.dataValues.contact_email}}" class="btn btn-reverse">Apply Now</a></li>
      </ul>
      <div class="tech">
        <small>Technologies: <span>{{this.dataValues.technologies}}</span></small>
      </div>
      <div class="tech">
        <small>Birth-Day: <span>{{this.dataValues.birthday}}</span></small>
      </div>
      <div class="tech">
        <small>Age: <span>{{this.dataValues.age}}</span></small>
      </div>
      <div class="tech">
        <small>Mobile: <span>{{this.dataValues.mobile}}</span></small>
      </div>
      <td><a href="/gigs/delete/<%=data.id%>">Delete</a></td>
    </div>
     </form>
    {{else}}
    <p>No gigs available</p>
 
  {{/each}}

</section>

