<section id="add" class="container">
    <div class="form-wrap">
      <h1>Edit Your Gig </h1>
      <p>Your contact email will be shared with registered users to apply to your gig</p>
      {{#each errors}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}
      <form action="/gigs/updategigs/{{gig.dataValues.id}}" method="POST">
        <div class="input-group">
          <label for="title">Gig Title</label>
          <input type="text" name="title" id="title" class="input-box" placeholder=" "
            maxlength="100" value={{gig.dataValues.title}}>
        </div>
        <div class="input-group">
          <label for="technologies">Technologies Needed</label>
          <input type="text" name="technologies" id="technologies" class="input-box" placeholder=""
          maxlength="100" value={{gig.dataValues.technologies}}>
        </div>
          <div class="input-group">
          <label for="birthday">Birth-Day</label>
          <input type="date" name="birthday" id="birthday" class="input-box" placeholder=""
          maxlength="100" value={{gig.dataValues.birthday}}>
        </div>
        <div class="input-group">
          <label for="age">Age</label>
          <input type="text" name="age" id="age" class="input-box" placeholder=""
          maxlength="100" value={{gig.dataValues.age}}>
        </div>
        <div class="input-group">
          <label for="mobile">Mobile</label>
          <input type="text" name="mobile" id="mobile" class="input-box" placeholder=""
          maxlength="100" value={{gig.dataValues.mobile}}>
        </div>
        <div class="input-group">
          <label for="budget">Budget (Leave blank for unknown)</label>
          <input type="text" name="budget" id="budget" class="input-box" placeholder="eg. 500, 5000, 10000" value={{gig.dataValues.budget}}>
        </div>
        <div class="input-group">
          <label for="description">Gig Description</label>
          <textarea name="description" id="description" class="input-box" placeholder="Describe the details of the gig"
            rows="10">{{gig.dataValues.description}}</textarea>
        </div>
        <div class="input-group">
          <label for="budget">Contact Email</label>
          <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email" value={{gig.dataValues.contact_email}}>
        </div>
        <input type="submit" value="Update" class="btn btn-reverse">
      </form>
    </div>
  </section>