<section id="addmember" class="container">
    <div class="form-wrap">
      <h1>Edit Your profile </h1>
      <p>Your contact email will be shared with registered users to apply to your gig</p>
      {{#each errors}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}
      <form action="/members/updatemember/{{member.dataValues.id}}" method="POST">
        <div class="input-group">
          <label for="name">name</label>
          <input type="text" name="name" id="name" class="input-box" placeholder=" "
            maxlength="100" value={{member.dataValues.name}}>
        </div>
        <div class="input-group">
          <label for="name">upload your image</label>
              <input type="file" id="image" name="image"maxlength="100" value={{member.dataValues.image}}>
        </div>

        <div class="input-group">
          <label for="sex">sex</label>
          <input type="text" name="sex" id="sex" class="input-box" placeholder=""
          maxlength="100" value={{member.dataValues.sex}}>
        </div>
          
       
        <input type="submit" value="Update" class="btn btn-reverse">
      </form>
    </div>
  </section>