<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IITech Team</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/android-chrome-192x192.png" rel="icon">
  <link href="/team/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/team/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/team/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/team/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/team/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/team/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/team/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/team/assets/css/style.css" rel="stylesheet">

  <style>



  </style>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="herodipu" class="d-flex flex-column justify-content-center">

    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="color: rgb(255, 255, 255);"><b> Billal Hossain Dipu Mia</b></h1>
      <p style="color: aliceblue;"> <span class="typed"
          data-typed-items="Chairman, IITech Limited"></span></p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p style="color: rgb(133, 105, 161);">This is Billal Hossain Dipu Mia,currently working at IITech Limited as a
            Chairman</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="/team/assets/img/dipu3.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3> Design & Development Area </h3>
            <p class="fst-alice">
              Artificial Intelligent, Blockchain, Self-Sovereign Identity, Computer Vision, Data Analytics, Data Privacy
              & Security.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>01 January 1971</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.iitech.io/team/dipu</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+880 171-295-9572</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Dhanmondi 4/a, Dhaka</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>51</span></li>
                  {{!-- <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <in>BSS Honors in Political Science in jagannath university <br> Strategic Management and Leadership(Anglia Ruskin University ,UK)
                    </span> --}}
                    {{!-- <span>MSS in jagannath university </span>
                    <span>MA strategic management and leadership(Anglia Ruskin University ,UK) </span> --}}
                  </li>
                  {{!-- <li><i class="bi bi-chevron-right"></i> <strong>MSS</strong> <span>MSS in jagannath university </span></li> --}}

                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>dipu@iitech.io</span></li>
                </ul>
              </div>
            </div>


          </div>
        </div>

      </div>
    </section><!-- End About Section -->




    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>4/a Dhanmondi, Dhaka</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>dipu@iitech.io</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+880 171-295-9572</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <img width="70px" height="70px" src="/team/assets/img/2.png" alt="">

      <h3>IITech Limited</h3>
      <p>pathway to an intelligent integration.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>IITech Limited</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://iitech.io">IITech</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/team/assets/vendor/aos/aos.js"></script>
  <script src="/team/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/team/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/team/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/team/assets/vendor/php-email-form/validate.js"></script>
  <script src="/team/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/team/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/team/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/team/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/team/assets/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script>


  </script>

</body>

</html>